<?php
$this->headTitle($this->escapeHtml($this->page->title));
$this->headMeta()->setName('keywords', $this->escapeHtml($this->page->keywords));
$this->headMeta()->setName('description', $this->escapeHtml($this->page->description));
?>
<div class="row-fluid">
    <h1>
        <?php echo $this->escapeHtml($this->page->title); ?>
    </h1>
    <hr>
    <article>
        <?php echo $this->page->content; ?>
    </article>
</div>
