<?php
$this->inlineScript()
    ->appendFile($this->basePath('/../ckeditor/ckeditor.js'))
    ->appendScript("CKEDITOR.replace('editor');")
?>

<?php $this->placeholder('dashboardContentBody')->captureStart(); ?>

<?php echo $this->form()->openTag($this->form); ?>
<?php echo $this->formElement($this->form->get('id')); ?>

    <div class="row">

        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><?php echo ($this->form->get('id')->getValue()) ? 'Edit Page' : 'Create New Page'; ?></h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <?php echo $this->formInput($this->form->get('title')); ?>
                        </div>
                        <div class="form-group">
                            <?php echo $this->formInput($this->form->get('slug')); ?>
                        </div>
                        <div class="form-group">
                            <?php echo $this->formTextarea($this->form->get('content')); ?>
                        </div>
                        <div class="form-group">
                            <?php echo $this->formInput($this->form->get('keywords')); ?>
                        </div>
                        <div class="form-group">
                            <?php echo $this->formInput($this->form->get('description')); ?>
                        </div>

                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <?php echo $this->formSubmit($this->form->get('submit')); ?>
                    </div>
                </form>
            </div><!-- /.box -->

        </div>
    </div>

<?php echo $this->form()->closeTag(); ?>

<?php $this->placeholder('dashboardContentBody')->captureEnd();