<?php $this->placeholder('sidebarNavigation')->captureStart(); ?>
<li class="treeview">
    <a href="#">
        <i class="fa fa-file-text"></i>
        <span>Pages</span>
    </a>
    <ul class="treeview-menu">
        <li><a href="<?php echo $this->url('zfspagesmanagement/create'); ?>"><i class="fa fa-file"></i> Add New Page</a></li>
        <li><a href="<?php echo $this->url('zfspagesmanagement'); ?>"><i class="fa fa-list"></i> All Pages</a></li>
    </ul>
</li>
<?php $this->placeholder('sidebarNavigation')->captureEnd();