
<table id="users_table" class="table table-bordered table-hover dataTable">
    <thead>
    <tr>
        <th><input id="selectAllCheckbox" type="checkbox"></th>
        <th class="sorting" data-column="title">Title</th>
        <th class="sorting" data-column="description">Description</th>
        <th class="sorting" data-column="slug">Alias</th>
        <th class="sorting" data-column="created">Created</th>
        <th>Author</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <?php

    foreach ($this->paginator as $page) {
        echo '<tr>'.
            '<td><input name="id" type="checkbox" value="'.$page['id'].'"></td>'.
            "<td><a target=\"_blank\" href=\"".$this->url('zfspages', array('slug' => $page['slug'])).".html\">{$page['title']}</a></td>".
            "<td>{$page['description']}</td>".
            "<td>{$page['slug']}</td>".
            "<td>{$page['created']}</td>".
            "<td>{$page['name']}</td>".
            '<td><div class="btn-group">'.
            '<a href="'.$this->url('zfspagesmanagement/edit', array('id' => $page['id'])).'" class="btn btn-default btn-sm"><i class="fa fa-edit"></i> Edit</a>'.
            '<a href="'.$this->url('zfspagesmanagement/delete', array('id' => $page['id'])).'" class="btn-remove btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> Delete</a>'.
            '</div></td>'.
            '</tr>';
    }

    if ($rowDiff = $this->itemsPerPage - $this->paginator->getCurrentItemCount()) {
        for ($i = 0; $i < $rowDiff; $i++) {
            echo '<tr></tr>';
        }
    }
    ?>
    </tbody>
</table>
<div class="row">
    <div class="col-xs-6">

    </div>
    <div class="col-xs-6">
        <?php echo $this->paginationControl($this->paginator, 'sliding', 'partial/paginator', array('route' => 'zfspagesmanagement','query' => $this->query)); ?>
    </div>
</div>




